.choice-div{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:blue;
    width:100%;
    height:200px;
    border:red dashed;
    margin:0 0 0 0;
    font-size:30px;
  }
  
  
  .button-div{
    padding:20px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:yellow;
    width:100%;
    height:100%;
    border:green dashed;
    margin:0 0 0 0;
  }
  
  
  .reset-div{
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:green;
    width:100%;
    height:100%;
    border:purple dashed;
    margin:0 0 0 0;
  }
  
  body {
    height:100%;
    margin: 0 0 0 0;
  }
  
  .comp-choice{
    color:white;
  }


  *{
    font-family: 'Roboto', sans-serif;
  }